.container__title-bar{
  color: white;
}

.container__title-bar > h1{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 150px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.container__title-bar > hr {
  margin-top: 25px;
  margin-bottom: 5px;
}
